@import "../style/settings.scss";

.home-page-title-wrapper {
  margin: 0 auto;
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  img {
    background-blend-mode: darken;
    width: 1240px;
    height: 223px;
    object-fit: cover;
    border-radius: 25px;
    filter: contrast(70%);
  }
  h1 {
    position: absolute;
    color: #ffffff;
    font-size: 3rem;
    left: 25%;
  }
}

.main-home-wrapper {
  background-color: $backgroundItemColor;
  margin: auto;
  width: 100%;
  max-width: 1150px;
  padding: 45px;
  margin-bottom: 50px;
  border-radius: 25px;
  height: 730px;
}

.lodging-cards-wrapper {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  overflow: hidden;
}

.lodging-card {
  position: relative;
  .lodging-cover {
    width: 340px;
    height: 340px;
    border-radius: 10px;
    background-color: red;
    object-fit: cover;
    filter: contrast(70%);
  }
  h2 {
    position: absolute;
    bottom: 0;
    left: 2%;
    font-size: 1.125rem;
    color: #ffffff;
    height: 52px;
  }
}
