.footer {
  display: flex;
  flex-direction: column;
  background-color: #000000;
  color: #ffffff;
  font-size: 1.5rem;
  gap: 30px;
  height: 210px;
  align-items: center;
  justify-content: center;
}

.logo-footer {
  width: 122px;
  height: 40px;
}
