.not-found-wrapper {
  margin: 94px 0 139px 0;
  display: flex;
  flex-direction: column;
  gap: 139px;
  align-items: center;
}

.title-not-found {
  color: #ff6060;
  font-size: 18rem;
  font-weight: 700;
}

.text-not-found {
  color: #ff6060;
  font-size: 2rem;
}

.link-not-found {
  color: #ff6060;
  font-size: 1.125rem;
  text-decoration: underline;
}

@media screen and (max-width: 1024px) {
  .title-not-found {
    font-size: 9rem;
  }
  .text-not-found {
    text-align: center;
    font-size: 1.5rem;
  }
  .link-not-found {
    font-size: 1rem;
  }
}

@media screen and (max-width: 768px) {
  .title-not-found {
    font-size: 6rem;
  }
  .text-not-found {
    text-align: center;
    font-size: 1.125rem;
    width: 260px;
  }
  .link-not-found {
    font-size: 0.875rem;
  }
}
